.bag {
    background-color: rgb(226, 221, 221);
    position: fixed;
    width: 510px;
    /* height: 560px; */
    min-height: 40vh;
    right: 10px;
    top: 70px;
    /* margin-top: -50px; */
}

.bagProducts {
    max-height: 300px;
    /* Set the maximum height of the bag content */
    overflow-y: auto;
    /* Add vertical scrollbar if content exceeds the maximum height */
}

.closeBag {
    display: none;
}

.icons {
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-top: 20px;
    cursor: pointer;
}

.bagContent {
    /* font-size: 40px; */
    padding: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 40px;
}

.product_Details {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.product_Details .image {
    width: 20%;
}

.product_Details img {
    width: 80px;
    /* width: 20%; */
    height: 120px;
}

.product_Details .data {
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin: 30px;
}

.product_Details .price {
    width: 20%;
    margin: 30px;
}

.bagContent .bottom {
    padding: 20px 0;
}

.subTotal {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid gray;
    padding: 20px 0;
}

.total {
    color: gray;
    font-size: 20px;
    text-transform: uppercase;
}

.bottom .buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bottom .buttons button {
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    margin-top: 30px;
    padding: 10px 40px;
    cursor: pointer;
}

.buttons .viewBag {
    color: rgb(71, 70, 70);
}

.buttons .checkOut {
    background-color: black;
    color: white;
}