 .viewBag .top {
     display: flex;
     justify-content: center;
     text-align: center;
     list-style-type: none;
     text-transform: uppercase;
     font-size: 16px;
     padding-top: 110px;
 }

 .viewBag .top a {
     text-decoration: none;
     color: black;
 }

 .viewBag .empty h1 {
     padding: clamp(60px, 5vw, 130px);
     text-align: center;
     font-size: clamp(30px, 5vw, 55px);
     font-weight: 300;
 }

 .orderDetails {
     display: flex;
     justify-content: space-between;
     align-items: start;
     padding: 150px 80px;
     gap: 6rem;
 }

 .shoppingBag {
     width: 65%;
 }

 .shoppingBag h1 {
     color: #686262;
     padding-bottom: 20px;
     font-weight: 400;
     letter-spacing: -2px
 }

 .shoppingBag .shoppingContent {
     border-top: 1px solid rgb(184, 179, 179);
     border-bottom: 1px solid rgb(184, 179, 179);
     padding-bottom: 20px;
     display: flex;
     justify-content: space-between;
     text-align: start;
     gap: 2rem;
 }

 .shoppingContent .left {
     width: 15%;
 }

 .shoppingContent .left img {
     width: 100px;
 }

 .shoppingContent .right {
     width: 85%;
     display: flex;
     justify-content: flex-start;
     text-align: start;
     flex-direction: column;
 }

 .shoppingContent .right .title {
     padding: 30px 0;
     display: flex;
     justify-content: flex-start;
     text-align: center;
 }

 .multiplyIcon {
     font-size: clamp(17px, 5vw, 22px);

 }

 .prodDetails {
     display: flex;
     justify-content: space-between;
     text-align: center;
 }

 .prodDetails .details {
     display: flex;
     justify-content: center;
     text-align: center;
     gap: 3rem;
 }

 .counting .dropdown {
     font-size: clamp(15px, 5vw, 20px);
     border-radius: 30px;
     text-align: center;
     cursor: pointer;
 }

 .details .btn {
     font-size: clamp(14px, 5vw, 17px);
     padding: 0px 15px;
     border-radius: 23px;
     border: none;
     background: none;
     cursor: pointer;
 }

 .orderSummary {
     width: 35%;
 }

 .orderSummary .heading h1 {
     color: #686262;
     padding-bottom: 20px;
     font-weight: 400;
     letter-spacing: -2px
 }

 .sub_Total {
     display: flex;
     justify-content: space-between;
     text-align: start;
     flex-direction: column;
     color: #686262;
     gap: 20px;
     border-top: 1px solid rgb(184, 179, 179);
     border-bottom: 1px solid rgb(184, 179, 179);
     padding: 40px 0;
 }

 .subTotalTop {
     display: flex;
     justify-content: space-between;
     text-align: start;
 }

 .subTotalTop .orderHead {
     text-transform: uppercase;
 }

 .subTotalBottom {
     display: flex;
     justify-content: space-between;
     text-align: start;
 }

 .subTotalBottom .shipping {
     text-transform: uppercase;
 }

 .subTotalBottom .shippingDetails {
     font-size: clamp(12px, 5vw, 14px);
 }

 .overall .totalPrice {
     display: flex;
     justify-content: space-between;
     text-align: center;
     padding: 35px 0;
 }

 .overall .totalPrice .head {
     font-size: clamp(20px, 5vw, 25px);
 }

 .overall .checkOut button {
     width: 100%;
     background-color: black;
     color: white;
     font-size: clamp(15px, 5vw, 18px);
     border-radius: 30px;
     padding: 10px;
 }

 .bottomIcons {
     display: flex;
     justify-content: space-between;
     text-align: center;
     color: #686262;
     padding: 70px 0;
 }

 .bottomIcons h1 {
     font-size: clamp(16px, 5vw, 20px);
     font-weight: 400;
 }

 .bottomIcons .myIcons {
     width: 33%;
 }

 .shippingIcons {
     font-size: clamp(30px, 5vw, 40px);
 }

 @media(max-width:1024px) {
     .orderDetails {
         flex-direction: column;
         align-items: center;
         padding: 30px 0px;
         gap: 4rem;
     }

     .shoppingBag {
         width: 85%;
     }

     .shoppingBag h1 {
         text-align: center;
     }

     .shoppingContent .left img {
         width: 80px;
     }

     .details .delete {
         font-size: 16px;
     }

     .orderSummary {
         width: 85%;
     }

 }