.success_msg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: min(340px, 90%);
    left: 50%;
    top: 44%;
    border-radius: 15px;
    background: rgb(4 4 4 / 90%);
    color: white;
    /* padding: 2.7777777778vw 1.3888888889vw; */
    padding: 5px 10px 25px;
    position: fixed;
    transform: translate(-50%, -50%);
}

.success_msg p {
    font-size: 18px;
}

.remove {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    padding: 0 10px;
}