.productImg {
    display: flex;
    justify-content: center;
    text-align: center;
}

.productImg img {
    max-width: 100%;
    max-height: 100%;
    width: 625px;
    height: 700px;
}

.productData {
    margin: 0 40px;
}

.productData h3 {
    font-size: clamp(12px, 5vw, 18px);
    padding: 20px 0;
}

.productData .head {
    font-size: clamp(27px, 5vw, 72px);
    font-weight: 200;
    width: 60%;
}

.ProdContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0;
}

.ProdContent .leftContent {
    width: 70%;
}

.ProdContent .leftContent p {
    width: 90%;
    font-size: clamp(16px, 5vw, 35px);
    color: rgb(99, 98, 98);
    font-weight: 200;
    padding: 25px 0;
    box-sizing: border-box;
}

.para a {
    text-decoration: underline;
    margin: 8px 0 0;
    font-size: clamp(10px, 5vw, 18px);
    color: rgb(99, 98, 98);
}

.ProdContent .rightContent {
    width: 30%;
}

.rightContent ul {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    flex-direction: column;
    list-style-type: none;
    color: rgb(99, 98, 98);
    font-size: clamp(10px, 5vw, 20px);
}

.rightContent li {
    margin: 10px;
}

.rightContent span {
    margin: 20px;
}

.suggestion {
    margin: 100px;
}

.suggestion .heading {
    text-align: center;
    font-size: clamp(14px, 5vw, 26px);
    text-transform: uppercase;
    color: rgb(59, 56, 56);
}

.suggestion .para {
    font-size: clamp(28px, 5vw, 35px);
    text-align: center;
    color: rgb(99, 98, 98);
    font-weight: 200;
    margin: 40px 110px 10px;
}

.policies {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.policy {
    width: 33%;
    color: rgb(99, 98, 98);
    padding: 60px 10px;
}

.policy .productIcons {
    font-size: clamp(25px, 5vw, 40px);
}

.policy h1 {
    font-size: clamp(20px, 5vw, 25px);
    font-weight: 600;
    padding: 0 0 10px;
}

.policy p {
    padding: 0 0 10px;
}

.policy a {
    text-decoration: underline;
}

@media(max-width:567px) {
    .productImg img {
        width: 325px;
        height: 400px;
    }

    .productData {
        margin: 0 30px;
    }

    .productData h3 {
        padding: 20px 0;
        width: 30%;
    }

    .ProdContent {
        flex-direction: column;
    }

    .ProdContent .leftContent {
        width: 100%;
    }

    .ProdContent .rightContent {
        width: 100%;
    }

    .rightContent ul {
        margin-top: 30px;
    }

    .suggestion {
        margin: 30px 10px;
    }

    .policies {
        flex-direction: column;
    }

    .policy {
        width: 100%;
        color: rgb(99, 98, 98);
        padding: 60px 0;
    }

    .policy p {
        padding: 0 0 10px;
    }

    .innerPolicy {
        padding: 0;
        width: 100%;
    }
}

@media(min-width:567px) and (max-width:1200px) {
    .productImg img {
        width: 325px;
        height: 400px;
    }

    .suggestion {
        margin: 0;
    }

    .rightContent span {
        margin: 10px;
    }
}