.background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../public/Images/Moooi.webp");
    height: 106vh;
    margin-top: -100px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mainHead{
    width: 60%;
    padding:6.9444444444vw 5.5555555556vw;
}
.background-image h1 {
    color: white;
    font-size: 100px;
    font-weight: 400;
    cursor: pointer;
}
.background-image p{
    text-transform: uppercase;
        color: white;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
}
.Mainbtn button {
    border: none;
    color: rgb(71, 70, 70);
    border-radius: 30px;
    font-size: 1.3rem;
    margin-top: 50px;
    padding: 10px 15px;
    cursor: pointer;
}
/* .topic {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    padding-top: 400px;
    cursor: pointer;
}
.background-image h1 {
    color: white;
    font-size: 110px;
    text-align: center;
    line-height: 4px;
    cursor: pointer;
    padding: 70px ;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
.btn {
    border: none;
    color: rgb(71, 70, 70);
    border-radius: 30px;
    font-size: 1.3rem;
    padding: 15px;
    cursor: pointer; */
    /* transition: transform 0.5s ease; */
/* } */
/* .btn .hovered {
    transform: translate(5px, 5px);
} */
