.Contact {
    min-width: 100%;
    min-height: 100%;
}

.Contact .contactTop {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
}

.Contact .contactTop a {
    text-decoration: none;
    color: black;
}

.Contact .top {
    justify-content: center;
    text-align: center;
    padding: 65px 0;
}

.Contact .top h1 {
    font-size: clamp(50px, 5vw, 100px);
    font-weight: 300;
}

.Contact .top .para {
    font-size: clamp(20px, 5vw, 25px);
    font-weight: 100;
    padding: 30px 550px;
}

.contactButton button {
    font-size: 18px;
    padding: 10px;
    border: 1px;
    border-radius: 30px;
    margin: 20px 10px;
    cursor: pointer;
}

.contactIcons {
    font-size: 18px;
}

.contactButton span {
    padding: 8px;
}

.stores h1 {
    text-align: center;
    font-size: clamp(42px, 5vw, 82px);
    font-weight: 100;
}

.contactCarts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin: 60px 5px;
    cursor: pointer;
}

.contactCart {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.stores img {
    min-width: 100%;
    min-height: 100%;
    width: 370px;
    height: 700px;
}

.ContactImages {
    width: 610px;
}

.contactTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.InfoCarts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: start;
    width: 100%;
    padding: 30px;
}

.bottom {
    padding: 110px 60px;
}

.bottom h1 {
    text-align: center;
    font-size: clamp(35px, 5vw, 65px);
    font-weight: 300;
}

.bottom .para {
    font-size: clamp(17px, 5vw, 25px);
    color: gray;
    text-align: center;
}

.infoCart {
    width: 500px;
}

.InfoCarts {
    padding: 75px 0;
}

.infoCart {
    line-height: 2;
}

.infoCart h3 {
    font-size: 20px;
    font-weight: 700;
}

.infoCart p {
    font-size: 20px;
}

.bottom .infoCart {
    padding-bottom: 50px;
}


@media(max-width:520px) {

    .Contact .top .para {
        padding: 10px;
    }

    .stores h1 {
        text-align: center;
        font-weight: 400;
    }

    .stores {
        display: none;
    }

    .bottom {
        padding: 10px;
    }

    .bottom h1 {
        font-weight: 500;
    }

    .infoCart .details p {
        font-size: 14px;
    }
}

@media(min-width:520px) and (max-width:1250px) {
    .stores {
        display: none;
    }

    .Contact .top .para {
        padding: 0px;
    }
}