header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    font-size: clamp(15px, 5vw, 25px);
    cursor: pointer;
}

.header__fix {
    position: fixed;
    top: 0px;
    transition: all 0.6s ease-in-out;
}

.header__realative {
    position: relative;
    transition: all 0.6s ease-in-out;
}

.leftHead {
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
}

/* Add padding to the non-hover state */
.hoverOn {
    padding: 4px 7px;
}

/* .hoverOn:hover {
    background-color: rgb(162, 152, 152);
    border-radius: 50%;
} */

header h3 {
    font-size: clamp(23px, 5vw, 40px);
    font-weight: 650;
    letter-spacing: clamp(1vw, 4vw, 10px);
    margin: 0;
}

.moooi {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.moooi a {
    color: white;
    text-decoration: none;
}

.rightHead {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    gap: clamp(2px, 5vw, 30px);
    line-height: 2.5rem;
    align-items: center;
}

.shopingBagdiv {
    position: relative;
}

.shopingQnty {
    position: absolute;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #e3d9c6;
    font-size: 16px;
    font-weight: 600;
    top: 0;
    right: -2px;
}

@media (max-width:576px) {
    header {
        padding: 30px 25px;
    }

    .rightHead {
        gap: 2px;
    }

    header h3 {
        letter-spacing: 2px;
    }

}