.DesignDream {
    display: flex;
    text-align: center;
    height: 100vh;
}

.Dream-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(76, 54, 58); */
    height: 100vh;
    width: 50%;
    padding: 6.9444444444vw 5.5555555556vw;
    box-sizing: border-box;
    text-align: center;
    word-spacing: -5px;
}

.Dream-image {
    width: 50%;
}

.Dream-image img {
    /* box-sizing: border-box; */
    width: 100%;
    object-fit: cover;
    /* height: 100vh; */
    height: min(100vh, 100%);
}

.DesignDream h3 {
    color: gray;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 1.5rem;
}

.DesignDream h1 {
    /* color: white; */
    font-size: 80px;
}

@media(max-width:576px) {
    .DesignDream {
        display: block;
        /* height: 100vh; */
    }

    .Dream-background {
        height: 50vh;
        width: 100%;
    }

    .Dream-image {
        width: 100%;
        height: 50vh;
    }

    .DesignDream h1 {
        /* color: white; */
        font-size: 40px;
    }

}

@media(min-width:576px) and (max-width:1200px) {
    .DesignDream h1 {
        font-size: 40px;
    }
}