.MenuContiner {
    display: flex;
    justify-content: center;
    text-align: center;
    /* backdrop-filter: blur(5px); */
}

.ProductStories {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #2f2f2f;
    color: rgb(247, 242, 242);
    width: 12%;
    padding: 78px 48px;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.ProductStories .heading {
    font-size: 20px;
    margin-bottom: 30px;
}

.Stories_content {
    font-size: 20px;
    padding: 20px;
}

.Stories_content li {
    list-style-type: none;
    line-height: 2;
    cursor: pointer;
}

.Stories_content a {
    color: rgb(247, 242, 242);
    text-decoration: none;
}