#productStories,
#login,
#signup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(75%);
    backdrop-filter: blur(0px);
    z-index: 996;
}

.MenuContiner {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* backdrop-filter: blur(5px); */
    width: min(280px, 90%);
    height: min(520px, 70%);
    overflow-y: auto;
    left: 50%;
    top: 44%;
    border-radius: 15px;
    background: Linear-gradient(270deg, #21212199 14.44%, #46454399 93.61%), #000;
    color: rgb(247, 242, 242);
    padding: 2.7777777778vw 1.3888888889vw;
    position: fixed;
    transform: translate(-50%, -50%);
}

.MenuContiner .top {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.prodIcons {
    font-size: 28px;
}

.MenuContiner .center {
    color: gray;
    font-size: clamp(10px, 5vw, 18px);
}

.center input {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    color: white;
}

.ProductStories {
    padding: 30px 0;
}

.ProductStories h1 {
    font-size: clamp(30px, 5vw, 40px);
    margin-bottom: 30px;
    padding: 20px;
}

.Stories_content {
    font-size: clamp(15px, 5vw, 20px);
    padding: 20px;
}

.Stories_content li {
    list-style-type: none;
    line-height: 2;
    cursor: pointer;
}

.Stories_content a {
    color: rgb(247, 242, 242);
    text-decoration: none;
}

@media(max-width: 580px) and (min-width:300px) {
    .MenuContiner .top {
        margin-top: 80px;
    }

}