.strategy {
    background-image: url(../../../public/Images/Moooi_Generations_Header1.webp);
    background-size: cover;
    width: 100%;
    height: min(900px, 100%);
    margin-top: -10px;
    display: flex;
    justify-content: end;
}

.content {
    padding: 6.9444444444vw 5.5555555556vw;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.strategy-heading {
    color: rgb(227, 221, 221);
    font-size: 1.3rem;
}

.strategy .para {
    color: white;
    font-size: clamp(30px,5vw,90px);
}


@media(max-width:576px) {
    .strategy {
        height: 100vh;
        margin-top: -5px;
        background-position: -300px 0px;
    }

    .content {
        width: 80%;
        /* text-align: center; */

    }

    .strategy-heading {
        font-size: 1.6rem;
    }

}

@media(min-width:576px) and (max-width:1200px) {
    .strategy {
        height: 100vh;
        margin-top: -5px;
        background-position: -300px 0px;
    }

}